body{
    text-align: center;

}
#bruh {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#meme {
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin: 20px;
}










